

form h1 {
	padding:0px;
	margin:0px 0px 10px 0px;
	text-align: left;				
}
			
form h1 span {				
	color: #888;
	margin-bottom: 5px;
	font-weight: normal;
	text-transform: uppercase;								
}

form h4
{
	color: #888;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 5px;
}

form h4 span
{	
	text-transform: none;
	color: #555;
	margin-left: 5px;
}

form h5
{
	color: #aaa;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 0px;
	/*text-transform: uppercase;*/
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 10px;
}

form h3
{
	color: #e4a317;
	font-family: "bebas_neueregular", "Bebas Neue", Arial, Helvetica, sans-serif;	
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 1.1px;
	padding-bottom: 0px;				
}

.inputgrp
{
	margin-bottom: 10px;
}

input[type=text], input[type=email], input[type=password]
{
	display:inline;				
	width:100%;				
	background:#333;
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #444;
	border-bottom:1px solid #444;								
	font-size:15px;		
	color:#DDDDDD;		
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;    
    margin:0px;	
    outline: none !important;
    	
   /* -webkit-box-shadow:inset 0 0 1px #222;
		-moz-box-shadow:inset 0 0 1px #222;
	box-shadow:inset 0 0 1px #222;  */
	padding:6px;
}
input:focus {
    outline-width: 0;
    outline: none;
}

input[type=text].error, input[type=email].error, input[type=password].error
{
	border: 1px solid #bc5516 !important;
}

label.error {
	color: #bc5516;
}

input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled {
	/*color:#aaa;*/
	background: none;
	padding: 0px;
	font-size: 125%;
	border-width: 0px;
	/*background: #272727;*/
	border: none;
	/*border-bottom: #333;
	border-right: #333;*/
} 

textarea
{
	width:100%;	
	background:#333;
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #444;
	border-bottom:1px solid #444;								
	font-size:16px;		
	color:#DDDDDD;
	resize: none;
	font-size: 14px;
	padding: 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;  
	font-family: "Gudea","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;			
}

input[type=text].input_has_change, textarea.input_has_change, div.input_has_change
{
	border: 1px solid #926911 !important;
}

#geoNotice {	
	height: 0px;
	overflow:hidden;
	background:#9a6900;
	color:#fff;
}
#map {
    height: 410px;
    margin-top: 30px;
    position: relative;
}
#map-canvas {
    height: 100%;
}
#map-grid, #map_cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#map_cover {
	display: none;
	background: #1c1c1c;	
}

/*Logo Stuff*/
#logo {
	max-width: 400px;
	max-height: 400px;
	width: 100%;	
}

#logowrap {
	position: relative;
}

.upload_button {			
	width: 100%;	
	font-size: 12px !important;	
	padding-top:0px;
	padding-bottom:0px;
	float:left;
}

#remove_logo {
	height: 32px;
	width: 145px;
	display: block;
	float:left;
	margin-left:10px;
}

.upload_queue_invis {
	display: none;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#logo {	max-width: 100%; width: 100%; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#logo {	max-width: 100%; width: 100%; }	
}

