body,
html {
    height: 100%
}

#header-main {
    padding: 10px 0;
    position: relative
}

#header-main-mmenu {
    float: left;
    margin-left: 10px
}

#header-main-logo {
    float: left;
    text-align: left;
    font-size: 24px;
    margin-left: 15px;
    position: relative;
    padding-left: 35px
}

#header-main-logo img {
    position: absolute;
    left: 0
}

#header-main-site-search {
    float: right;
    margin-right: 15px
}

#header-main-site-search img {
    vertical-align: middle
}

#header-main-signin-buttons,
#header-main-user {
    float: right;
    margin-right: 15px;
    font-size: 12px
}

#header-main-signin-buttons a:hover,
#header-main-user a:hover {
    text-decoration: underline
}

#header-main-mmenu-icon {
    width: 22px;
    overflow: hidden;
    cursor: pointer
}

.header-main-btn-menu {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    height: 35px;
    text-transform: uppercase;
    background: #222
}

.header-attach,
.header-bg {
    background: #1a1a1a
}

.header-attach {
    padding-bottom: 10px
}

#header-title {
    text-shadow: 2px 2px #1e1c1b;
    margin: 7px 0 0;
    font-size: 325%;
    color: #ccc;
    letter-spacing: 5px;
    transform: scale(1, .8)
}

#header-subtitle {
    font-weight: 400;
    color: #aaa;
    text-shadow: 1px 1px #1e1c1b
}

#menubar-mobile {
    position: fixed;
    background: #1A1A1A;
    top: 0;
    left: 0;
    padding: 0 50px;
    margin-left: 0;
    width: 100%;
    z-index: 100;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: left .4s ease, right .4s ease, margin .4s ease;
    -moz-transition: left .4s ease, right .4s ease, margin .4s ease;
    transition: left .4s ease, right .4s ease, margin .4s ease
}

#header-main {
    display: block
}

#menubar {
    visibility: hidden;
    max-height: 40px
}

#header-main-push {
    display: block
}

#site_search_wrap {
    position: absolute;
    z-index: 9000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: none
}

#site_search_cover {
    opacity: .8;
    background: #1a1a1a;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9001
}

#site_search_info {
    color: #444;
    font-size: 40px
}

#site_search_html {
    position: relative;
    z-index: 9002;
    background: #1a1a1a
}

#site_search_input_grp {
    padding: 10px;
    background: #1a1a1a;
    border-bottom: 1px solid #000
}

#site_search_input_grp table {
    width: 100%
}

#site_search_input_grp table td:first-child {
    width: 35px
}

#site_search_input_grp table td:last-child {
    width: 60px;
    padding-left: 10px
}

#site_search_input_grp button {
    height: 35px;
    font-weight: 400
}

#site_search {
    font-size: 16px
}

#site_search input[type=text]:focus {
    border: 1px solid #eda819
}

@media only screen and (max-width:767px) {
    #site_search .ss_results_box {
        left: -40px;
        right: -90px;
        margin-top: 10px
    }
}

@media only screen and (max-width:479px) {
    #site_search .ss_icon {
        display: none
    }
}

#menubar-mobile-wrap {
    display: none
}

#mmenu-site-search {
    position: absolute;
    top: 0;
    right: 15px
}

#menubar-mobile,
#menubar-mobile-push,
.menubar-mobile-height {
    height: 55px
}

#menubar-mobile-title {
    letter-spacing: 1.5px;
    color: #BBB;
    font-size: 34px;
    text-align: left;
    margin-top: 10px;
    font-weight: 700
}

img.site_search_button {
    opacity: .6;
    cursor: pointer
}

img.site_search_button:hover {
    opacity: 1
}

#menubar-mobile-title a {
    text-decoration: none;
    color: #BBB
}

#menubar-mobile-title:hover a {
    text-decoration: none;
    color: #CCC
}

#menubar-mobile-title:hover span {
    color: #f3b122!important
}

#menubar-mobile-mmenu {
    position: absolute;
    top: 0;
    left: 0
}

#menubar_mobile_button {
    margin-top: 17px;
    float: left;
    width: 22px;
    overflow: hidden;
    margin-left: 7px;
    cursor: pointer
}

.menubar_mobile_button_bar {
    width: 100%;
    margin-bottom: 3px;
    background: #777;
    height: 4px
}

.menubar_mobile_button_bars:hover div {
    background: #aaa
}

#menubar {
    display: block;
    padding: 10px 0
}

#menubar .menuitem {
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    margin-right: 10px;
    font-size: 15px;
    color: #CCC;
    text-transform: uppercase
}

#menubar_left {
    float: left
}

#menubar_right {
    float: right
}

#menubar .menuitem.right {
    margin-right: 0;
    margin-left: 10px
}

#menubar .menuitem:hover {
    color: #EEE
}

#menubar .menuitem.inactive {
    color: #666
}

#menubar .menuitem.inactive:hover {
    color: #888
}

#menubar .menuitem.selected {
    border-bottom: 2px solid #e4a317
}

.mobile_menu_item:hover {
    background: #333;
    color: #fff
}

.mobile_menu_item img {
    margin-right: 10px;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    opacity: .75
}

.mobile_menu_item.selected img,
.mobile_menu_item:hover img {
    opacity: 1
}

.mobile_menu_item.selected {
    background: #b57b00;
    color: rgba(255, 255, 255, 1);
    text-shadow: none;
    font-weight: 700
}

html.mm-opened body {
    overflow-x: hidden
}

html.mm-opened.mm-left #menubar-mobile {
    margin-left: 0;
    left: 0
}

html.mm-opening.mm-left #menubar-mobile {
    margin-left: -65px;
    left: 100%
}

@media all and (min-width:350px) {
    html.mm-opening.mm-left #menubar-mobile {
        left: 350px
    }
}

@media all and (min-width:500px) {
    html.mm-opening.mm-right #menubar-mobile {
        left: -435px
    }
}

html .mm-page {
    min-height: 100%
}

#menubar-mobile-notificatons {
    position: absolute;
    display: block;
    background: url(http://www.airsoftc3.com/css/images/mail.png) center center no-repeat;
    top: 0;
    left: auto;
    right: 10px;
    width: 40px;
    height: 40px
}

#notify-count {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 0;
    line-height: 12px;
    padding: 2px;
    font-size: .8em
}

#page_footer_push {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

#page_content {
    min-height: 100%;
    margin-bottom: -70px;
    position: relative
}

#page_content:after {
    content: "";
    display: block
}

#page_content:after,
#page_footer {
    height: 70px
}

#page_footer {
    background: #1A1A1A
}

#page_footer_padding {
    padding: 15px 0 0
}

#page_footer_margin {
    height: 50px
}

#page_footer_logo {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #555;
    letter-spacing: 1.5px;
    text-decoration: none
}

#page_footer_logo:hover {
    color: #888
}

#page_footer_left {
    float: left
}

#page_footer_middle {
    text-align: center;
    margin-top: 10px
}

#page_footer_right {
    text-align: right
}

#page_footer_right a {
    margin-left: 10px
}

#page_footer a.link {
    color: #444;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 15px
}

#page_footer a.link:hover {
    color: #666
}

#page_footer_copywrite {
    margin-top: 5px;
    color: #444;
    font-size: 10px;
    font-family: Arial, sans-serif;
    cursor: default
}

#page_footer img.social {
    opacity: .4
}

#page_footer img.social:hover {
    opacity: .8
}

table.buttons-row {
    width: 100%
}

table.buttons-row tr {
    padding-bottom: 10px!important
}

table.buttons-row td {
    padding-right: 4.8px;
    padding-left: 4.8px;
    padding-bottom: 4.8px
}

table.buttons-row td:first-child {
    padding-left: 0;
    padding-right: 4.2px
}

table.buttons-row td:last-child {
    padding-left: 4.2px;
    padding-right: 0
}

table.buttons-two td {
    width: 50%
}

table.buttons-three td {
    width: 33.3333%
}

table.buttons-four td {
    width: 25%
}

table.buttons-five td {
    width: 20%
}

#scrollUp {
    background-image: url(/img/icons/top.png);
    bottom: 20px;
    right: 20px;
    width: 38px;
    height: 38px;
    opacity: .6
}

#scrollUp:hover {
    opacity: 1
}

#sticky_wrap {
    position: fixed;
    z-index: 300;
    width: 100%
}

#sticker_button_bar {
    overflow: hidden
}

#sticker_button_bar_bg {
    padding: 8px;
    border-bottom: 1px solid #000;
    background-image: url(patterns/slanted_stripes6.png);
    background-repeat: repeat
}

#sticker_button_bar a.button {
    padding: 0 10px;
    line-height: 33px;
    float: right;
    width: auto;
    height: 33px;
    margin-left: 10px
}

#sticker_button_bar button {
    float: right;
    width: auto;
    height: 35px;
    margin-left: 10px
}

#progressbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
    height: 10px
}

#progressbar span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #cf9414;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    -o-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    background-size: 40px 40px
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

#feedbackbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #c8860f;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    z-index: 1000
}

#feedbackbar table {
    width: 100%
}

#feedbackbar table td {
    padding: 10px 30px
}

#feedbackbar_close {
    width: 20px;
    color: #ddd;
    cursor: pointer;
    font-size: 20px
}

#feedbackbar_close:hover {
    color: #fff
}

::selection {
    background: #b36f1f;
    color: #fff
}

::-moz-selection {
    background: #b36f1f;
    color: #fff
}

.subpages_mobile_collapse {
    padding: 5px;
    cursor: pointer;
    display: none;
    background-color: #2a2a2a;
    text-align: center
}

.subpages_mobile_collapse:hover {
    background: #333
}

.subpages_mobile_collapse .menubar_mobile_button_bars {
    width: 20px;
    display: block;
    float: left
}

.subpages_mobile_collapse_label {
    display: inline;
    text-align: center;
    color: #AAA;
    margin-left: 10px
}

.subpages a.subpage:first-child {
    margin-top: 8px
}

.subpages a.subpage {
    color: #AAA;
    text-decoration: none;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 15px
}

a.subpage:hover {
    color: #DDD
}

.subpages a.subpage.selected {
    color: #DDD;
    border-bottom: 2px solid #D19616
}

div.vcenter_out {
    max-width: 100%;
    max-height: 100%;
    display: table;
    height: 100%;
    width: 100%;
    margin: 0
}

div.vcenter_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%
}

div.vcenter_mid {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
    max-width: 100%;
    max-height: 100%
}

div.vcenter_inn {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    max-height: 100%
}

.handwritten {
    font-family: 'Indie Flower', cursive;
    font-size: 16px
}

div.block {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    cursor: default;
    border: 1px solid #222;
    border-bottom: 1px solid #000
}

div.innerblock {
    position: relative;
    background: #1e1e1e;
    color: #aaa;
    font-size: 15px;
    padding: 10px
}

.map_marker_bubble_window {
    width: auto!important
}

.gm-style-cc a,
.gm-style-cc div,
.gmnoscreen a,
.gmnoscreen div {
    background: #2a2a2a!important;
    color: #888!important
}

.gmap {
    width: auto;
    margin: 0 auto 5px;
    position: relative
}

.gmap_canvas {
    height: 100%
}

.gm-style-mtc div {
    background: #1c1c1c!important;
    color: #aaa!important
}

.pac-container {
    background-color: #222!important;
    color: red;
    border-top-color: #444
}

.hdpi.pac-container:after,
.pac-container:after {
    background-image: url(/img/icons/poweredbygoogle.png);
    background-size: auto
}

.pac-item {
    border-top: 1px solid #444
}

.pac-item:hover {
    background-color: #2a2a2a
}

.pac-item-selected {
    background-color: #333
}

.pac-item-selected .pac-icon-marker {
    background-position: -1px -161px
}

.pac-item-query {
    color: #E4A317
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

input[type=password],
input[type=text] {
    display: inline;
    width: 100%;
    background: #333;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    font-size: 15px;
    color: #DDD;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 6px
}

textarea {
    width: 100%;
    background: #333;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    color: #DDD;
    resize: none;
    font-size: 14px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Gudea, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.co {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #aaa
}

.co span {
    color: #e4a317
}

a,
a img {
    outline: 0
}

a.gold {
    color: #d08c00
}

a.gold:hover {
    color: #e4a317
}

a.bright {
    color: #eee
}

a.bright:hover {
    color: #fff
}

h1,
h2,
h3,
h4 {
    font-family: Raleway, sans-serif
}

h1 {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    color: #ccc
}

h1.left,
h2.left,
h3.left,
h4.left {
    text-align: left
}

h1.gold,
h2.gold,
h3,
h3.gold {
    color: #e4a317;
    font-family: bebas_neueregular, "Bebas Neue", Raleway, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 1.1px;
    padding-bottom: 0
}

h1.gold {
    font-size: 36px;
    line-height: 36px
}

.text_highlight_color,
.text_highlight_color a,
.text_highlight_color a:active,
.text_highlight_color a:link,
.text_highlight_color a:visited,
.text_highlight_color:active,
.text_highlight_color:link,
.text_highlight_color:visited {
    color: #e4a317
}

.text_highlight_color a:hover,
a.text_highlight_color:hover {
    color: #f3ae19
}

.text_highlight_color_2 {
    color: #9c9a93
}

a.text_highlight_color_2:hover {
    color: #c9c7c1
}

.text_highlight_color_3,
a.text_highlight_color_3:hover {
    color: #926911
}

.bg_highlight_color {
    background: #3f4d30
}

html.clear {
    clear: both
}

html.round {
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

html.tinyround {
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

html.shadow {
    -moz-box-shadow: 1px 1px 2px 0 #111;
    -webkit-box-shadow: 1px 1px 2px 0 #111;
    box-shadow: 1px 1px 2px 0 #111
}

html .round {
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

html .tinyround {
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

html .shadow {
    -moz-box-shadow: 1px 1px 2px 0 #111;
    -webkit-box-shadow: 1px 1px 2px 0 #111;
    box-shadow: 1px 1px 2px 0 #111
}

a {
    color: #CCC;
    text-decoration: none
}

a.underline {
    text-decoration: underline
}

a.button,
button.basic,
div.button {
    text-shadow: 0 -1px 0 #444;
    color: #DDD;
    font-size: 14px;
    padding: 0 20px;
    border: 0;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    width: auto;
    height: 40px;
    background: #444;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center
}

div.button {
    height: 40px;
    line-height: 40px
}

a.button {
    text-decoration: none;
    padding: 0;
    width: 100%;
    line-height: 40px
}

a.button:hover,
button.basic:hover,
div.button:hover {
    color: #FFF;
    background: #4c4c4c
}

a.button.blue,
button.blue {
    background: #538CC4;
    border: 1px solid #396C9D;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .11), 0 1px 1px rgba(175, 207, 235, .14) inset;
    text-shadow: 0 -1px 0 #457BAC;
    color: #DDD
}

a.button.blue:hover,
button.blue:hover,
div.button.blue:hover {
    color: #FFF;
    background: #5c97d0
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #111;
    background: #444;
    margin: 1em 0;
    padding: 0
}

a.button.square,
button.square,
div.button.square {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

a.button.dark,
button.dark,
div.button.dark {
    background: #333;
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
    color: #bbb;
    box-shadow: none
}

a.button.dark:hover,
button.dark:hover,
div.button.dark:hover {
    background: #3a3a3a;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    color: #ddd
}

button.disabled,
div.button.disabled {
    background: #333;
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
    color: #222;
    box-shadow: none;
    text-shadow: none
}

a.button.disabled:hover,
button.disabled:hover,
div.button.disabled:hover {
    background: #333;
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
    color: #222;
    box-shadow: none
}

a.button.gold,
a.button.selected,
button.gold,
button.selected {
    background: #9a6900;
    border: 1px solid #684b0d;
    text-shadow: 0 -1px 0 #684b0d;
    color: #DDD
}

a.button.gold.pressed,
button.gold.pressed {
    background: #7e5b0f!important;
    border: 1px solid #684b0d!important
}

a.button.gold:focus,
a.button.gold:hover,
a.button.selected:focus,
a.button.selected:hover,
button.gold:focus,
button.gold:hover,
button.selected:focus,
button.selected:hover {
    background: #ab7b15;
    color: #FFF
}

a.button.light,
button.light {
    background: #666;
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    color: #eee
}

a.button.light:hover,
button.light:hover {
    background: #777;
    border-top: 1px solid #777;
    border-left: 1px solid #777;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    color: #fff
}

.serif {
    font-family: Georgia, serif
}

[contenteditable=true]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    outline: 0
}

button::-moz-focus-inner {
    border: 0
}

input[type=radio].radioStyle {
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -o-opacity: 0
}

input[type=radio].radioStyle+label {
    position: relative;
    padding: 0;
    text-indent: 35px;
    line-height: 23px
}

input[type=radio].radioStyle+label:before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    height: 16px;
    width: 16px;
    background: #333;
    border: 2px solid #555;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2)
}

input[type=radio].radioStyle+label {
    font-size: 16px
}

input[type=radio].radioStyle+label:hover {
    color: #ddd
}

input[type=radio].radioStyle:checked+label {
    color: #fff
}

input[type=radio].radioStyle:checked+label:before {
    background: #B57B00;
    border: 2px solid #ddd
}

.radioStyleSublabel {
    font-size: 14px;
    color: #777;
    margin-left: 35px;
    margin-top: -3px;
    margin-bottom: 5px
}

.checkboxGrp .customCheckboxGrp {
    margin-bottom: 10px
}

.checkboxGrp .customCheckboxLabel {
    font-size: 16px;
    color: #bbb
}

.customCheckboxLabel {
    margin-left: 35px;
    margin-right: 15px;
    color: #CCC;
    font-size: 16px
}

.customCheckboxDesc {
    font-size: 14px;
    color: #777
}

.customCheckbox {
    width: 20px;
    position: relative;
    float: left
}

.customCheckbox label {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2);
    background: #333;
    border: 2px solid #666
}

.customCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: 0 0;
    top: 3px;
    left: 3px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.customCheckbox:after,
.customCheckbox:before {
    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important
}

.customCheckbox input[type=checkbox] {
    margin: 4px 4px 0
}

.customCheckbox input[type=checkbox]:checked+label {
    background: #B57B00;
    border-color: #B57B00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.customCheckbox input[type=checkbox]:checked+label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
}

.slim {
    width: 85%;
    margin: 0 auto
}

@media only screen and (min-width:768px) and (max-width:959px) {
    .slim {
        width: 85%;
        margin: 0 auto
    }
}

@media only screen and (max-width:767px) {
    #menubar-mobile-title {
        font-size: 24px;
        text-align: center;
        margin-top: 0
    }
    #menubar_mobile_button {
        margin-top: 10px
    }
    #header-main-push,
    #menubar-mobile,
    #menubar-mobile-push,
    .menubar-mobile-height {
        height: 40px
    }
    #menubar {
        visibility: hidden;
        max-height: 40px;
        padding: 0
    }
    #header-main {
        display: none
    }
    #menubar-mobile-wrap {
        display: block
    }
    #menubar_left {
        float: none;
        text-align: center
    }
    #menubar_right {
        display: none
    }
    #header-main-push {
        display: block
    }
    #logo {
        width: 50%
    }
    #page_content {
        margin-bottom: -185px
    }
    #page_content:after,
    #page_footer {
        height: 185px
    }
    #page_footer_left,
    #page_footer_middle,
    #page_footer_right {
        text-align: center
    }
    #page_footer_middle {
        margin: 20px 0
    }
    .slim {
        width: 100%;
        margin: 0 auto
    }
}

@media only screen and (max-width:479px) {
    #header-title {
        font-size: 180%
    }
    #header-main {
        background: #1a1a1a
    }
    .subpages_mobile_collapse {
        display: block
    }
    .subpages {
        height: 0;
        overflow: hidden
    }
    .subpages a.subpage {
        display: block;
        width: 100%;
        background: #2a2a2a;
        color: #AAA;
        padding: 5px 0;
        text-transform: uppercase;
        font-size: 13px;
        text-align: center;
        margin: 0 0 8px;
        border: 1px solid #222
    }
    .subpages a.subpage:hover {
        color: #EEE;
        background: #333
    }
    .subpages a.subpage.selected {
        color: #fff;
        background: #9A6900;
        border: 1px solid #684B0D
    }
    #scrollUp {
        display: none!important
    }
    #submit {
        width: 100%
    }
}
