body {
    background: #2d2c2b
}

div.unit {
    background: #282726;
    border-color: #212121
}

div.unit.selected {
    border-color: #B57B00
}

div.unit .content {
    color: #999
}

div.unit .header:hover {
    background: #2c2b2a
}

div.unit hr {
    background: #2a2a2a;
    border-color: #444
}

#finder {
    background: #262525;
    border-color: #000
}

#select_location {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    height: 0;
    overflow: hidden
}

#pinmap,
#showmap {
    color: #ddd;
    background: #444;
    border: 1px solid #333;
    border-top-color: #555;
    border-left-color: #555;
    border-bottom-color: #444
}

#pinmap:hover,
#showmap:hover {
    background: #4a4a4a;
    color: #fff
}

#pinmap.on,
#showmap.open {
    background: #b57b00;
    border-color: #d99103 #b57b00 #b57b00;
    color: #fff
}

.filterlabel {
    font-size: 16px;
    margin-bottom: 5px
}

#morefilters .filterlabel {
    font-size: 14px
}

.onOffbtnGrp {
    margin-bottom: 10px
}

.onOffbtn:first-child {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

.onOffbtn:last-child {
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
}

.onOffbtn {
    float: left;
    padding: 2px 5px;
    background: #444;
    border-top: 1px solid #555;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    border-left: 1px solid #555;
    color: #bbb;
    cursor: pointer;
    margin-right: 1px;
    min-height: 26px
}

.onOffbtn img {
    opacity: .6;
    margin-top: -3px
}

.onOffbtn span {
    margin-left: 5px;
    margin-right: 2px;
    font-size: 14px;
    line-height: 26px
}

.onOffbtn:hover {
    background: #4a4a4a
}

.onOffbtn.on {
    background: #9c6900;
    border-color: #d99103 #9c6900 #9c6900;
    color: #fff
}

.onOffbtn:last-child.on {
    border-right-color: #9c6900
}

.onOffbtn.on span {
    color: #fff
}

.onOffbtn.on img {
    opacity: 1
}

.filterUnit {
    width: 30px;
    text-align: center
}

.filterUnit img {
    margin-top: 0
}

.filterUnit span {
    display: none
}

#sorry_trouble {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px
}

#mapside #sorry_trouble {
    width: 80%;
    margin: 0 auto
}

#sorry_trouble a {
    color: #d99103
}

.map_marker_bubble {
    width: 150px;
    min-width: 100px;
    overflow: hidden
}

.map_marker_bubble,
.map_marker_bubble_title a {
    color: #444
}

.map_marker_bubble_title {
    font-size: 16px
}

.map_marker_bubble_bg {
    font-size: 13px;
    color: #222
}

.map_marker_bubble_bg h5 {
    color: #444
}

.mCSB_inside>.mCSB_container {
    margin-right: 10px
}

#address,
#filter {
    font-size: 14px;
    padding: 2px 6px;
    line-height: 26px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#address:focus {
    border: 1px solid #8c5d00
}

#distancelabel.disabled {
    color: #444
}

#distancewrap.disabled {
    display: none
}

div.unit .header .citystate,
div.unit .header .unitname {
    float: left
}

div.unit .header .unitname {
    margin-right: 15px
}

.location {
    color: #777
}

#results {
    font-size: 16px;
    display: block;
    float: left
}

#thinking {
    display: block;
    font-size: 16px;
    float: left
}

#finder {
    padding: 10px 0 0;
    border-width: 1px;
    border-style: solid
}

#location_pickers {
    overflow: visible
}

#location_pickers_collapsed {
    display: none;
    overflow: hidden;
    cursor: pointer
}

#location_pickers_collapsed div.pointerRight {
    border-color: #aaa
}

#location_pickers_collapsed.open {
    background: inherit;
    border: none
}

#location_string_narrow_wrap {
    text-align: center;
    margin-bottom: 5px;
    background: #333;
    padding: 5px
}

#location_string_narrow {
    font-size: 18px;
    color: #bbb
}

div.pickercol {
    float: left;
    margin-right: 20px
}

#map_options_wide {
    margin-right: 0
}

#unitselector {
    width: 165px
}

#statecol {
    width: 125px;
    margin-left: 0!important
}

#regioncol {
    width: 130px
}

#addresscol {
    width: 350px
}

#distancecol {
    width: 100px
}

#map_options_wide {
    width: auto;
    float: right
}

#keywordcol {
    width: 250px;
    margin-left: 0;
    position: relative
}

#clear_keyword {
    display: none;
    position: absolute;
    top: 28px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #aaa
}

#clear_keyword:hover {
    color: #ddd
}

#clear_keyword.on {
    display: block
}

#sortcol {
    width: 100px
}

#sortdircol {
    width: auto
}

#pinmap,
#showmap {
    float: left
}

#map_options_narrow #pinmap,
#map_options_narrow #showmap {
    margin-top: 0
}

#pinmap img,
#showmap img {
    opacity: .7
}

#showmap img {
    width: 13px;
    margin-top: -3px;
    margin-left: 2px
}

#pinmap img {
    width: 18px;
    opacity: .7;
    padding: 6px 3px 0
}

#pinmap.on img,
#pinmap:hover img,
#showmap.open img,
#showmap:hover img {
    opacity: 1
}

#unit_pickers {
    margin-top: 0;
    margin-bottom: 10px
}

#morefilters {
    height: 0;
    overflow: hidden
}

#morefilters.open {
    overflow: visible
}

.col {
    display: inline-block;
    margin-right: 10px
}

div.unit {
    overflow: hidden;
    margin-bottom: 5px;
    border-width: 1px;
    border-style: solid
}

#unisolate,
div.unit.isolated {
    border-color: #e4a317
}

#unisolate {
    padding: 0 5px;
    border-width: 1px;
    border-style: solid
}

div.unit.open {
    margin-bottom: 20px
}

#cloned div.unit.open {
    margin-bottom: 10px
}

div.bootstrap .btn,
div.bootstrap li span.text {
    font-size: 12px
}

div.toolbtn {
    float: right;
    margin-right: 10px
}

div.toolbtn:first-child {
    margin-right: 0
}

#unisolate {
    display: none
}

#clonedheader {
    margin-top: 20px;
    margin-bottom: 15px
}

#viewall,
#viewcounter {
    font-size: 20px;
    color: #bbb
}

#viewall {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px
}

#viewall:hover {
    color: #eee
}

.customCheckbox label:after {
    left: 2px;
    top: 2px
}

.customCheckbox label {
    height: 16px;
    width: 16px
}

div.unit hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 0 15px;
    padding: 0
}

div.unit:hover .name a {
    color: #fff
}

div.unit a.name {
    color: #ccc;
    font-size: 16px
}

div.unit table {
    width: 100%
}

div.unit td.view {
    padding: 8px 8px 8px 0
}

div.unit td.options,
div.unit td.widget {
    width: 35px;
    vertical-align: top
}

div.unit div.content {
    height: 0;
    overflow: hidden
}

div.unit div.contentpad {
    padding: 15px
}

div.icon div.pointerRight {
    width: 8px;
    height: 8px;
    border: solid #444;
    border-width: 2px 2px 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 2px 3px 2px 0
}

div.norgie {
    padding: 13px 10px 10px
}

td.options div.option {
    padding: 7px 7px 0 10px
}

td.options {
    text-align: left;
    vertical-align: top
}

td.options img.marker {
    opacity: .18
}

td.options img.marker:hover {
    opacity: .75
}

td.options img.marker.selected {
    opacity: .9
}

#units {
    margin-top: 15px
}

#units_loading {
    margin-top: 25px;
    text-align: center
}

div.norgie.open div.pointerRight,
div.norgie:hover div.pointerRight,
div.unit:hover div.norgie div.pointerRight {
    border-color: #888
}

div.norgie div.icon {
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

div.norgie.open div.icon {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

div.closeclone {
    margin-top: -7px;
    margin-right: 3px
}

div.icon div.cross {
    width: 15px;
    height: 3px;
    background: #888;
    margin: 15px 0 0 4px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

div.icon div.cross:after {
    content: '';
    width: 15px;
    height: 3px;
    background: #888;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

#gear {
    cursor: pointer;
    opacity: .4;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#gear img {
    margin-top: -3px
}

#gear label {
    color: #fff;
    font-size: 13px;
    margin-left: 3px
}

#gear.open,
#gear:hover {
    opacity: 1
}

#gear.open label {
    color: #eee
}

#gear img {
    -moz-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}

#gear.open img {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.find_near_label {
    float: left;
    font-weight: 700;
    margin-right: 25px;
    font-size: 18px;
    line-height: 20px
}

#sizers,
#tooloptions {
    float: right
}

.sizer {
    margin-top: 2px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px
}

#small {
    margin-left: 0
}

.sizer div.sizer_bullet,
.sizer div.sizer_item {
    float: left;
    background: #777;
    margin-bottom: 2px
}

.sizer div.sizer_bullet {
    width: 3px;
    margin-right: 2px
}

.sizer div.sizer_item {
    width: 15px
}

#small div.sizer_bullet,
#small div.sizer_item {
    height: 3px
}

#medium div.sizer_bullet,
#medium div.sizer_item {
    height: 8px
}

.sizer:hover div {
    background-color: #CCC
}

.sizer.selected div {
    background-color: #fff!important
}

.large {
    display: none
}

.pac-item {
    font-size: 12px;
    padding-left: 10px
}

.pac-item-query {
    font-size: 12px
}

.pac-icon {
    display: none
}

#sortarrows {
    padding-top: 0
}

#sortarrows img {
    opacity: .5;
    margin-top: -5px;
    padding: 0 2px;
    cursor: pointer
}

#sortarrows img:hover {
    opacity: 1
}

#sortarrows img:first-child {
    margin-left: 5px
}

div.unit .header {
    cursor: default
}

div.unit .header img {
    vertical-align: middle;
    margin-right: 3px
}

.hrsmall {
    border-bottom: 1px dotted #3a3a3a;
    margin-bottom: 5px
}

#hblock {
    position: absolute;
    width: 100%;
    height: 0
}

#selectregionwrap {
    display: none
}

#checkabove {
    height: 32px
}

#sortdir {
    padding-top: 5px
}

#sortdir .radioStyleGrp {
    float: left
}

#sortdir input.radioStyle[type=radio]+label {
    font-size: 14px;
    margin-right: 5px;
    text-indent: 30px
}

.coverwrap {
    width: 150px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px
}

.coverwrap a,
.coverwrap img {
    max-width: 100%
}

.ui-resizable-handle {
    background: #2a2a2a;
    height: 10px
}

.ui-resizable-handle:hover {
    background: #B57B00
}

#feature {
    overflow: hidden;
    position: relative
}

.map_button_grp {
    float: left;
    margin-right: 15px
}

#stickmap,
#unstickmap {
    float: left;
    margin-right: 5px
}

#feature_bg {
    background: #282726;
    padding-bottom: 0;
    border-bottom: 1px solid #333231;
    border-top: 1px solid #1c1b1b
}

#feature_icons {
    position: absolute;
    top: 7px;
    right: 10px
}

#feature_icons div {
    cursor: pointer
}

#add_listing {
    cursor: pointer;
    display: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #eee;
    float: right;
    margin-right: 25px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #555;
    border-left: 1px solid #555
}

#add_listing:hover a {
    text-decoration: underline
}

#add_listing:hover img {
    opacity: 1
}

#add_listing img {
    vertical-align: middle;
    margin-right: 7px;
    opacity: .7
}

#canvas {
    position: relative;
    overflow: hidden;
    background: #222
}

#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100
}

#map,
#slideshow {
    height: 100%
}

#map {
    display: block
}

#map-canvas {
    height: 100%
}

#map_tool_bar_wrap {
    padding: 10px 0;
    border-top: 1px solid #333;
    background: #222
}

#map_tool_bar .map_tool_btn {
    position: relative;
    float: right;
    cursor: pointer;
    background: #444;
    border-top: 1px solid #555;
    border-bottom: 1px solid #111;
    height: 26px;
    margin-right: 5px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#map_zoom_slider_wrap {
    float: left;
    width: 200px;
    padding: 6px 10px 0;
    background: #383838;
    margin-left: 1px;
    margin-right: 1px;
    height: 18px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #111
}

#map_zoom_slider_wrap .ui-slider-horizontal .ui-slider-handle {
    background: #888!important
}

#map_zoom_slider_wrap .ui-widget-content {
    background: #b57b00!important
}

#map_zoom_slider_wrap .ui-slider-range {
    background: #222!important
}

#map_tool_bar .map_tool_btn img {
    opacity: .6
}

#map_zoom_in,
#map_zoom_out {
    width: 14px;
    height: 14px;
    background: #383838;
    position: relative;
    cursor: pointer;
    padding: 5px
}

#map_zoom_in:hover,
#map_zoom_out:hover {
    background: #484848!important
}

#map_align_side,
#map_align_top {
    float: right;
    padding: 0 10px;
    margin-left: 5px;
    cursor: pointer
}

#scroll_up {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 100
}

#scroll_up:hover div.icon div.upArrow {
    border-color: transparent transparent #888
}

#scroll_up:hover div.icon div.upArrow:after {
    background-color: #888
}

div.icon div.upArrow {
    height: 0;
    width: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #555;
    position: absolute;
    bottom: 16px;
    left: 0
}

div.icon div.upArrow:after {
    content: '';
    width: 12px;
    height: 16px;
    background-color: #555;
    position: absolute;
    top: 16px;
    right: -6px
}

div.icon div.minus,
div.icon div.plus {
    width: 14px;
    height: 3px;
    background: #888;
    position: absolute;
    left: 5px;
    top: 11px
}

div.icon div.plus:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 14px;
    background: #888;
    left: 6px;
    top: -6px
}

#map_zoom_in:hover div.icon div.plus,
#map_zoom_in:hover div.icon div.plus:after,
#map_zoom_out:hover div.icon div.minus {
    background: #ddd!important
}

#map_tool_bar .map_tool_btn:hover {
    background: #484848
}

#map_tool_bar .map_tool_btn:hover img {
    opacity: .9
}

#fit_visible_markers {
    margin-left: 5px;
    padding: 0 5px 3px
}

#map_layout_options_wrap {
    float: right;
    width: 80px
}

#map_layout_options_wrap .bootstrap-select {
    margin-bottom: 0
}

#filtertable {
    border: 0;
    width: 100%
}

#filtertable tr td:first-child {
    width: 45px;
    text-align: right;
    padding-right: 5px
}

.customCheckboxGrp {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px
}

.customCheckboxLabel {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 30px;
    cursor: default;
    color: inherit
}

#retailers {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    padding-bottom: 1px
}

#retailer:hover {
    border-color: #eee
}

input[type=email],
input[type=password],
input[type=text] {
    display: inline;
    width: 100%;
    background: #333;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    font-size: 14px;
    color: #DDD;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: 0!important;
    padding: 6px
}

input:focus {
    outline: 0
}

.mobile_unit_icon {
    display: none;
    margin-top: 10px
}

div.unit .content .citystate,
div.unit .directions {
    display: none
}

@media only screen and (min-width:768px) and (max-width:959px) {
    #statecol {
        width: 130px
    }
    #regioncol {
        width: 110px
    }
    #addresscol {
        width: 290px
    }
}

@media only screen and (max-width:767px) {
    .filterUnit {
        width: auto;
        text-align: left
    }
    .filterUnit img {
        margin-top: -3px
    }
    .filterUnit span {
        display: inline
    }
    #checkabove {
        height: 10px
    }
    #location_pickers_collapsed {
        display: block;
        overflow: hidden
    }
    #regioncol,
    #statecol {
        width: 100%;
        margin-right: 0
    }
    #addresscol {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px
    }
    #sortdircol {
        float: left
    }
    #map_options_narrow {
        margin-top: 35px;
        float: right
    }
    #map_options_wide {
        display: none
    }
    #distancecol {
        margin-top: 10px
    }
    #keywordcol {
        width: 100%
    }
    #sortcol {
        margin-top: 10px;
        margin-left: 0;
        width: 170px
    }
    #sortdircol {
        margin-top: 10px;
        margin-bottom: 10px
    }
    #unit_pickers {
        margin-bottom: 10px
    }
    #tooloptions {
        margin-top: 0
    }
    div.unit td.options {
        width: 20px!important
    }
    div.unit .options .option {
        display: none
    }
    div.unit .mobile_unit_icon {
        display: block
    }
    div.unit .unit_icon {
        display: none
    }
    div.unit .directions {
        display: block;
        margin-bottom: 10px
    }
    div.unit .view .citystate {
        display: none
    }
    div.unit .content .citystate {
        display: block;
        margin-bottom: 2px;
        color: #ccc
    }
    #map_options {
        display: block;
        float: right;
        margin-bottom: 10px
    }
    #unit_checkboxes_old {
        margin-bottom: 15px
    }
}

@media only screen and (max-width:479px) {
    #addresscol,
    #regioncol,
    #statecol {
        width: 100%
    }
    #addresscol {
        margin-bottom: 5px
    }
    #distancecol {
        margin-top: 5px
    }
    #keywordcol,
    #sortcol {
        width: 100%
    }
    #sortdircol {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0
    }
    div.unit .header .unitname {
        margin-right: 0
    }
    div.unit .header .citystate,
    div.unit .header .unitname {
        float: none
    }
    #morefilters .customCheckboxGrp {
        margin-right: 0;
        width: 50%
    }
    .coverwrap {
        width: 100%;
        float: none;
        text-align: center
    }
    .coverwrap img {
        max-height: 225px
    }
    #findcol {
        margin-right: 0
    }
    .filterUnit {
        width: 86px
    }
    .filterUnit img {
        margin-left: 8px
    }
    #find_near_label {
        display: none
    }
    .customCheckboxGrp {
        margin-right: 7px
    }
    #sortdircol {
        float: left
    }
    #map_options_narrow {
        margin-top: 10px;
        float: right
    }
}

#mapside {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 80px
}

#mapside_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    min-height: 100%
}

#mapside_right {
    position: absolute;
    left: 510px;
    right: 0;
    height: 100%
}

#mapside_filters {
    position: relative;
    width: 100%;
    height: 185px
}

#mapside #find_near_label {
    display: none
}

#mapside .filterUnit {
    width: auto;
    text-align: left
}

#mapside .filterUnit span {
    display: inline
}

#mapside_results_wrap {
    position: absolute;
    width: 100%;
    top: 185px;
    bottom: 0;
    overflow-y: auto
}

#mapside #units {
    margin-top: 0
}

#mapside_right #feature {
    height: 100%
}

#mapside #addresscol {
    width: 100%
}

#mapside #addresscol:before {
    content: "";
    display: table;
    clear: both
}

#mapside #addresscol {
    margin-left: 0
}

#mapside #morefilters {
    margin: 10px 0 0
}

#mapside .customCheckboxGrp {
    float: left
}

#mapside #result_filters {
    padding: 0 10px
}

#mapside #sortcol {
    margin-left: 0;
    margin-top: 10px
}

#mapside #distancewrap,
#mapside #sortdircol {
    margin-top: 10px
}

#mapside #keywordcol {
    width: 100%
}

#mapside #statecol {
    margin-top: 10px
}

#mapside #map_options_wide {
    display: none
}

#mapside #finder {
    border: 1px solid #1a1a1a
}

#mapside_results {
    margin-top: 5px
}

#mapside #map_tool_bar #showmap {
    float: right;
    margin-top: 0;
    height: 23px
}

#mapside {
    display: none
}

#mapside .container {
    position: relative;
    width: auto
}

#mapside .sixteen.columns {
    width: auto;
    float: none;
    display: block
}

#mapside #clonedwrap {
    padding-left: 10px
}
