#promo_banner_wrap {
    background: #363534;
    position: relative;
    overflow: hidden;
    color: #999;
    border-bottom: 1px solid #484848
}

#promo_banner_close {
    position: absolute;
    top: 2px;
    right: 7px;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 2px 2px 2px #222
}

#promo_banner_close:hover {
    color: #fff
}

#promo_banner {
    padding: 10px 0;
    font-size: 17px
}

#checkout {
    text-shadow: 2px 2px 2px #222
}

#checkout a {
    color: #D6981B;
    font-weight: 700;
    text-shadow: 0
}

#checkout a:hover {
    color: #efa613
}

#thanks {
    font-weight: 700;
    font-size: 24px;
    color: #ddd;
    text-shadow: 2px 2px 2px #222;
    margin-bottom: 7px
}

#unit_logo_wrap {
    float: left;
    margin-right: 10px
}

#promo_banner_content {
    margin-top: 5px;
    padding-right: 50px
}

#promo_banner_content a {
    text-decoration: underline
}

#unit_logo {
    max-height: 80px;
    max-width: 80px
}

#header-main-site-search {
    display: none
}

.unit_pages {
    text-align: center;
    margin-top: 20px
}

.unit_page {
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1.1px;
    padding-bottom: 1px;
    border-bottom: 1px solid #1e1e1e;
    -webkit-transition: color 100ms ease-out;
    -moz-transition: color 100ms ease-out;
    -o-transition: color 100ms ease-out;
    transition: color 100ms ease-out
}

.unit_page,
.unit_page:active,
.unit_page:link,
.unit_page:visited {
    color: #D3900D
}

.unit_page:last-child {
    margin-right: 0
}

.unit_page:hover {
    color: #F7AF0B;
    border-color: #F7AF0B;
    -webkit-transition: color 100ms ease-out;
    -moz-transition: color 100ms ease-out;
    -o-transition: color 100ms ease-out;
    transition: color 100ms ease-out
}

.svg_state {
    cursor: pointer
}

#unit_picker {
    margin-bottom: 18px;
    margin-top: 10px
}

#intro {
    background: #1e1e1e;
    border-bottom: 1px solid #000;
    margin-bottom: 20px
}

#unit_checkboxes {
    padding-left: 1px
}

.customCheckboxLabel a {
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc
}

.customCheckboxLabel a:hover {
    border-color: #eee
}

#unit_picker table {
    width: 70%;
    margin: 0 auto
}

#unit_picker table td {
    text-align: center;
    vertical-align: middle;
    width: 25%
}

#shop {
    border-left: 1px solid #444;
    border-right: 1px solid #444
}

#address {
    font-size: 18px;
    font-weight: 400
}

#finder input[type=text]:focus {
    border: 1px solid #8c5d00
}

div.unit {
    font-size: 28px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    padding: 5px 0;
    color: #bbb
}

div.unit.off {
    color: #666
}

div.unit a.unit_count {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

div.unit a.unit_count span.count {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: #bbb;
}

div.unit a.unit_count:hover {
    color: #fff
}

#state_label {
    margin-top: 10px;
    height: 35px;
    font-size: 34px;
    text-align: center;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 26px;
}

#state_label_hr {
    width: 75%;
    margin: 10px auto
}

#plot_map_wrap {
    overflow: hidden
}

#hide_plot_map {
    text-align: center;
    font-size: 13px;
    color: #555;
    cursor: pointer;
    width: 100px;
    margin: 0 auto
}

#hide_plot_map:hover {
    color: #ccc
}

div.switcher {
    font-size: 10px;
    color: #555
}

div.switcher:hover {
    color: #888
}

#state_picker {
    height: 0;
    overflow: hidden;
    text-align: center
}

#byname {
    margin-top: 10px;
    cursor: pointer;
    text-align: center
}

#byname span {
    font-size: 13px;
    color: #555
}

#byname span.open,
#byname span:hover {
    color: #ccc
}

#hide_plot_map {
    margin-top: 10px;
    cursor: pointer;
    text-align: center
}

#hide_plot_map span {
    font-size: 13px;
    color: #555
}

#hide_plot_map span.open,
#hide_plot_map span:hover {
    color: #ccc
}

#plot_map {
    margin: 0 auto
}

h1 {
    color: #aaa;
    letter-spacing: 1.1px;
    font-family: bebas_neueregular, "Bebas Neue", Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
    margin: 0 0 15px;
    padding: 0
}

h5 {
    font-weight: 400;
    color: #ccc;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px
}

#state_selector_names {
    margin-top: 20px
}

#state_selector_names a {
    color: #aaa;
    display: block;
    margin-bottom: 5px
}

#state_selector_names a:hover {
    color: #ddd
}

.qtip,
circle {
    pointer-events: none
}

#explore {
    text-align: center;
    margin-bottom: 5px;
    color: #888;
    margin-top: 25px
}

#explore a {
    color: #888;
    cursor: pointer
}

#explore a.selected,
#explore a:hover {
    color: #ddd
}

#links {
    z-index: 9999;
    position: absolute;
    top: 10px;
    right: 60px;
    color: #ffb71d;
    font-size: 12px
}

#links .link:hover {
    cursor: pointer;
    text-decoration: underline
}

#name_search {
    z-index: 100;
    position: absolute;
    top: 60px;
    right: 60px;
    color: #ffb71d;
    font-size: 18px
}

#respect {
    color: #666
}

#main_logo {
    margin: 0 auto 10px;
    width: 300px;
    position: relative;
    color: #bbb
}

#main_logo img {
    width: 100%;
    max-width: 100%
}

#main_logo:hover a {
    color: #bbb
}

#main_logo a {
    text-decoration: none
}

#beta {
    position: absolute;
    top: -5px;
    right: -40px;
    font-size: 12px;
    color: #bbb!important
}

.hzspacer {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    border-left: 1px solid #555;
    height: 25px;
    background-color: #000;
    width: 1px
}

.error {
    color: #DA573B
}

#header-main-logo {
    display: none
}

#finder {
    width: 75%;
    margin: 10px auto 40px
}

#finder table {
    width: 100%
}

#finderlabel {
    text-align: center;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 26px
}

#finder button {
    width: 100%;
    height: 45px;
    font-size: 16px
}

#finder input[type=text] {
    height: 45px;
    padding: 8px;
    font-size: 18px
}

#finder hr {
    margin: 10px 0
}

.fc1 {
    width: 60px;
    padding-right: 20px;
    font-size: 16px;
    text-align: right
}

#fc2 {
    width: auto;
    padding-right: 10px
}

#fc3 {
    width: 150px
}

#unit_pickers {
    margin-bottom: 5px
}

.customCheckboxGrp {
    display: block;
    float: left;
    margin-top: 2px
}

.pac-item {
    font-size: 16px;
    padding-left: 10px;
    font-family: Lato, sans-serif
}

.pac-item-query {
    font-size: 16px
}

.pac-icon {
    display: none
}

#header-main-push,
.header-bg {
    background: #1e1e1e
}

#thankyou {
    text-align: right;
    margin-top: 5px;
    color: #ffb71d;
    display: none
}

#submiterror {
    display: none;
    color: #DA573B
}

#processing {
    display: none;
    font-size: 16px;
    text-align: center;
    color: #eee;
    margin-top: 8px
}

#processing img {
    margin-left: 10px
}

#menubar-mobile,
#menubar-mobile-wrap {
    background: #1e1e1e
}

#menubar-mobile-title {
    display: none
}

::-webkit-input-placeholder {
    color: #777
}

:-moz-placeholder {
    color: #777
}

::-moz-placeholder {
    color: #777
}

:-ms-input-placeholder {
    color: #777
}

h2 {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #aaa;
    letter-spacing: 1.1px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif
}

.read {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #888;
    font-family: Helvetica, sans-serif;
    text-align: left
}

.read span {
    cursor: default
}

#upcoming span {
    color: #b57b00
}

#upcoming span:hover {
    color: #ffb71d
}

#socialx {
    margin-top: 25px
}

#subscription {
    margin-top: 15px
}

.socialx {
    opacity: .6;
    margin-top: 10px;
    margin-right: 10px
}

.socialx:hover {
    opacity: .8
}

.checkboxGrp .customCheckboxGrp {
    margin-bottom: 10px
}

.checkboxGrp .customCheckboxLabel {
    font-size: 14px;
    color: #bbb
}

.customCheckboxLabel {
    margin-left: 28px;
    margin-right: 15px;
    color: #CCC;
    font-size: 14px;
    line-height: 18px
}

.customCheckboxDesc {
    font-size: 12px;
    color: #777
}

.customCheckbox {
    width: 20px;
    position: relative;
    float: left
}

.customCheckbox label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5), 0 0 0 rgba(255, 255, 255, .2);
    background: #333;
    border: 2px solid #666
}

.customCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: 0 0;
    top: 3px;
    left: 3px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.customCheckbox:after,
.customCheckbox:before {
    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important
}

.customCheckbox input[type=checkbox] {
    margin: 4px 4px 0;
    visibility: hidden
}

.customCheckbox input[type=checkbox]:checked+label {
    background: #B57B00;
    border-color: #B57B00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.customCheckbox input[type=checkbox]:checked+label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
}

#hr1 {
    width: 85%;
    margin: 1px auto
}

#lookup,
#search_for {
    float: left;
    margin-right: 15px;
    font-size: 15px;
    line-height: 23px;
    color: #666;
    font-weight: 700
}

#search_for_mobile {
    display: none;
    font-size: 15px;
    line-height: 23px;
    color: #666;
    font-weight: 700
}

#lookup {
    margin-left: 10px
}

#mobile_submit {
    display: none
}

#subs_input {
    width: 75%;
    float: left
}

#subs_btn {
    width: 25%;
    float: left
}

#subs_btn_pad {
    padding-left: 10px
}

.qtip {
    font-size: 14px;
    line-height: 18px;
    background: #111
}

.qtip-content {
    padding: 10px
}

h2.section {
    font-size: 18px;
    text-align: left
}

#retailers {
    width: 80%;
    margin: 20px auto 0
}

.retailer {
    display: block;
    float: left;
    width: 33%;
    text-align: center
}

.retailer img {
    width: 120px;
    opacity: .5
}

.retailer:hover img {
    opacity: 1
}

.retailer_name {
    display: none;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #ccc
}

#retailers_sub {
    color: #888;
    font-size: 14px;
    margin-bottom: 20px
}

#retailers_sub a {
    color: #b57b00
}

#retailers_sub a:hover {
    color: #ffb71d
}

#evike {
    border-left: 1px solid #444;
    border-right: 1px solid #444
}

@media only screen and (min-width:768px) and (max-width:959px) {
    #finder {
        width: 85%
    }
    #promo_banner_content {
        padding-right: 80px
    }
}

@media only screen and (max-width:767px) {
    #explore {
        margin-top: 10px
    }
    #finder {
        width: 100%
    }
    #fc2 {
        display: block
    }
    #fc3 {
        display: block;
        margin-top: 10px;
        width: 410px
    }
    #state_label_hr {
        width: 100%;
        margin: 10px auto
    }
    #header-main-push,
    #links {
        display: none
    }
    #finder {
        margin-top: 15px
    }
    #finder button {
        height: 35px;
        font-size: 14px
    }
    #finder input[type=text] {
        height: 35px;
        padding: 5px;
        font-size: 16px
    }
    #intro {
        margin-top: 40px
    }
    #intro.with_banner {
        margin-top: 0!important;
        padding-top: 10px
    }
    #search_for_mobile {
        display: block
    }
    #search_for {
        display: none
    }
    #retailers {
        width: 100%
    }
    .retailer img {
        width: 90px
    }
    #promo_banner_content {
        float: left;
        padding-right: 0
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    #main_logo {
        width: 260px;
        margin-top: 10px
    }
    h1 {
        font-size: 26px;
        line-height: 26px
    }
    #unit_picker table {
        width: 100%
    }
    #state_label,
    div.unit {
        font-size: 22px
    }
    #hr1 {
        width: 100%
    }
    h2 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px
    }
    #promo_banner_wrap {
        margin-top: 35px
    }
    #promo_banner_content {
        width: 340px;
        margin-top: 5px
    }
    #unit_logo {
        max-width: 60px;
        max-height: 60px;
        margin-top: 5px
    }
    #thanks {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 5px
    }
    #checkout {
        font-size: 16px
    }
}

@media only screen and (max-width:479px) {
    #main_logo {
        width: 150px;
        margin-top: 0
    }
    h1 {
        font-size: 20px;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px
    }
    #fc3 {
        width: 290px
    }
    #search_for {
        display: none;
        float: none;
        text-align: left;
        margin-bottom: 5px
    }
    .customCheckboxGrp {
        float: left;
        margin-bottom: 10px
    }
    #unit_picker table {
        width: 100%
    }
    div.unit {
        font-size: 18px
    }
    #state_label {
        font-size: 18px;
        height: 20px
    }
    #hr1 {
        width: 100%
    }
    h2 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px
    }
    .read {
        font-size: 15px;
        line-height: 25px
    }
    #subs_input {
        width: 100%;
        float: none
    }
    #subs_btn {
        width: 100%;
        float: none;
        margin-top: 15px
    }
    #subs_btn_pad {
        padding-left: 0
    }
    #social_buttons {
        text-align: center;
        margin-top: 10px
    }
    #unit_logo_wrap {
        margin-right: 0
    }
    #promo_banner_wrap {
        margin-top: 35px
    }
    #promo_banner_content {
        float: left;
        width: 250px;
        margin-top: 5px;
        margin-left: 8px
    }
    #unit_logo {
        max-width: 40px;
        max-height: 40px;
        margin-top: 5px
    }
    #thanks {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px
    }
    #checkout {
        font-size: 14px;
        line-height: 17px
    }
    .retailer img {
        width: 70px
    }
    .unit_page {
        margin-right: 10px;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        font-size: 16px;
    }
}
