.center_block {
	margin:0px auto;
	width:60%;
	background:#272727;
	margin-top:100px;
	border-top: 1px solid #383838;
	border-right: 1px solid #2b2b2b;	
	border-left: 1px solid #2b2b2b;
	border-bottom: 1px solid #151515;
}

.center_block_padding {
	padding:50px;
}


h2 {
	font-family: "bebas_neueregular", "Bebas Neue",Arial,Helvetica,sans-serif;
	color: #E4A317;
	letter-spacing: 1.1px;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

#info {
	font-size: 15px;
	text-align: left;
	margin-top:25px;
	margin-bottom:25px;	
}

h1 {
	/*color: #e4a317;*/
	color: #d99103;
	font-family: "bebas_neueregular", "Bebas Neue", "Raleway", Arial, Helvetica, sans-serif;	
	font-weight: normal;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 1.1px;
	padding-bottom: 0px;
}

form h4 
{
	color: #aaa;
}

#submit {
	width: 100%;
}



#load_error {
	color:#b84312; 
	font-size: 24px;
	line-height: 30px;
	text-align: center;	
	margin: 40px 0px;
	display: none;
}
#load_error a {
	color: inherit;
	text-decoration: underline;
}
#load_error a:hover {
	color: #d2480c;
}

#signup { text-align: center; }
#forgot { 
	text-align: center;	
	margin-top:15px;
}
#forgot a {
	color: #999;
}

.error {color:#bc5516; }
.error a {text-decoration: underline; color: inherit;}
.login_error {
	text-align: center;
	color:#bc5516; 
	margin-top:20px;
	display: block;
}

strong { color: #ddd;}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.center_block {width:75%;}	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.center_block {width:75%; margin-top:60px;}	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.center_block {width:100%; margin-top:60px;}	
	#load_error {	
		font-size: 20px;
		line-height: 24px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.center_block {width:100%; margin-top:40px;}
	h1 {font-size: 28px; line-height: 30px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {	
	h1 {font-size: 24px; line-height: 24px;}	
	.center_block {width:96%; background:none; margin-top: 10px; border:none;}	
	.center_block_padding {padding:0px;}
	.customCheckbox label {background:#444;}
	#load_error {
		font-size: 18px;
		line-height: 24px;
		margin: 10px 0px;
	}
}



