/* PAGE
 =================================== */
	#unit_header_wrap {
		background: #1c1c1c;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		padding-bottom: 3px;
	}
	#unit_header_right {
		text-align: right;
	}

	#unit_unlisted {
		margin-top: 10px;
		padding: 10px;
		background: #B37C00;
		color: #fff;
	}

	#unit_logo {
		max-height: 130px;
		margin-top: 20px;
	}
	#website a {
		font-size: 22px;
	}
	#unit_header {
		background: #1a1a1a;
	}
	#edit_page_wrap {
		position: fixed;
		top: 60px;
		right: 10px;
		opacity: .8;
	}
	#edit_page_wrap:hover {
		opacity: 1;
	}
	#tabs {
		margin: 10px 0px;
	}
	.page_tools {
		margin-bottom: 10px;
	}
	.collapser_icons {
		float: right;
	}
	#pages {
		position: relative;
	}
	.page {
		display: none;
		font-size: 16px;
		color: #aaa;
	}
	.page {
		/*margin-top: 15px;*/
	}
	.page.no_top_pad {
		margin-top: 0px;
	}

	h1 {
		text-align: left;
		color: #e4a317;
		font-family: "bebas_neueregular", "Bebas Neue", "Raleway", Arial, Helvetica, sans-serif;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 45px;
		line-height: 45px;
		letter-spacing: 1.1px;
		display: inline;
	}

	#breadcrumbs {
		text-align: left;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: bold;

		padding-bottom: 3px;
		width: auto;
	}

	#breadcrumbs > span {
		border-bottom: 1px dotted #444;
		padding-bottom: 3px;
	}

	#breadcrumbs .breadcrumb {
		color: #cccccc;
		cursor: pointer;
		background-color: inherit !important;
		border-radius: none !important;
		margin-bottom: 0px !important;
		padding: 0px !important;
	}
	#breadcrumbs .breadcrumb a {
		color: inherit;
	}
	#breadcrumbs .breadcrumb a:hover {
		text-decoration: underline;
	}

	#website {
		font-size: 15px;
		color: #aaa;
	}
	#address {
		cursor: pointer;
		font-size: 15px;
		color: #aaa;
	}
	#address:hover,
	#website:hover {
		color: #ddd;
	}
	#phone {
		font-size: 16px;
	}
	#social_links {
		margin-top: 10px;
		text-align: left;
	}
	#social_links img {
		opacity: .4;
		width: 25px;
		padding: 0px;
		margin-right: 2px;
	}
	#social_links img:hover {
		opacity: .85;
		padding: 0px;
	}

	.reading {
		line-height: 150%;
	}

	.subpages {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.fr-window h1 {
		text-align: center;
		margin-top: 15px;
		display: block;
	}

	.feature {
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.feature_content {
		height: 350px;
	}

	.feature_bg {
		background:#282726;
		padding-top: 35px;
		padding-bottom: 20px;
		border-bottom: 1px solid #333231;
		border-top: 1px solid #1c1b1b;
	}

	.feature_icons {
		float: right;
		text-align: right;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 15px;
		height: 20px;
		color: #777;
	}
	.feature_icons:hover {
		color: #aaa;
	}
	.feature_icons div {
		cursor: pointer;
	}

	.show_feature {
		display: none;
	}

	#inappropriate {
		margin-top: 10px;
	}
	#inappropriate,
	#owner_desktop a {
		cursor: pointer;
		color: #777;
		font-size: 12px;

	}
	#inappropriate:hover,
	#owner_desktop a:hover {
		color: #aaa;
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		h1 { text-align: center; display: block; }
		#address { display: block; width:100%; text-align: center;}
		#phone { text-align: center;}
		#website {text-align: center; display: block;}
		#breadcrumbs { text-align: center; float: none; width:100%; }
		#social_links {text-align: center;}
		#website, #address {
			font-size: 14px;
		}
		#unit_logo_wrap { display: none; }
		#inappropriate {
			text-align: center;
			display: none;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		h1 { font-size: 26px; line-height: 26px;}
		#breadcrumbs {font-size: 12px; text-align: center;}
	}

/* ABOUT
 =================================== */
	#unit_logo_wrap_mobile {
		display: none;
		text-align: center;
		margin-bottom: 15px;
	}
	#unit_logo_mobile {
		max-width: 100%;
		max-height: 220px;
	}

	#slideshow_wrap {

	}

	#slideshow {
		overflow: hidden;
		height: 350px;
	}
	#slideshow div {
		width: 100%;
	}
	#slideshow div img {
		margin: auto;
		display: block;
		max-height: 350px;
	}

	.cycle-prev, .cycle-next { position: absolute; top: 35px; bottom: 15px; width: 50%; opacity: 0; filter: alpha(opacity=0); z-index: 800; cursor: pointer; }
	.cycle-prev { left: 0;  background: url("/img/icons/arrow_left_thin_white_medium.png") 10% 50% no-repeat;}
	.cycle-next { right: 0; background: url("/img/icons/arrow_right_thin_white_medium.png") 90% 50% no-repeat;}
	#slideshow_tools {
		text-align: center;
		padding: 10px 0px;
	}
	#pauser { display: block; position: absolute; left:0px; top: -30px; width: 100%; text-align: center; z-index: 800; color: #555555;}
	#canvas:hover #pauser {
		display: block;
	}

/*	#slideshow:hover #feature_cycle_prev,
	#slideshow:hover #feature_cycle_next {
		opacity: 1;
		filter: alpha(opacity=1);
	}*/



	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		/*#unit_logo_wrap_mobile { display: block; }*/
		#slideshow div img { max-height: 275px; }
		#slideshow, #about .feature_content { height: 275px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#slideshow div img { max-height: 235px; max-width: 100%;}
		#slideshow, #about .feature_content { height: 235px; }

	}


/* LOCATION
 =================================== */
 	#location .feature_content {
 		position: relative;
 		height: 500px;
 	}
	#map {
		height: 100%;
	}
	#map-canvas {
		height: 100%;
	}
	#map_loading {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
	.pac-item {
		font-size: 16px;
		padding-left: 10px;
		font-family: 'Lato', sans-serif;
	}
	.pac-item-query {
		font-size: 16px;
	}

	.pac-icon {
		display: none;
	}

	/* Google Maps */
	.adp-step, .adp-substep {
		color: #999 !important;
		border-color: #666 !important;
	}
	.adp-summary {
		color: #e4a317 !important;
		border-color: #666 !important;
	}
	.adp-placemark {
		background: inherit !important;
		color: #ccc !important;
		border: none !important;
		width: 100% !important;
	}
	.adp-marker {
		display: none !important;
	}
	.adp-maneuver {
		background-color: #888 !important;
	}
	.adp table {
		width: 100%;
		margin: 0px auto;
	}

	.map_marker_bubble_window {
		min-width: 150px;
	}
	.map_marker_bubble_bg {
		text-align: center;
	}
	.map_marker_bubble_bg a {
		color: #555;
	}
	.map_marker_bubble_bg a:hover {
		color: #666;
	}
	/*.adp-substep:first-child
	{
	max-width: 20px;
	padding-right: 10px;
	}
	.adp-substep:nth-child(2)
	{
	max-width: 20px !important;
	padding-right: 10px;
	}
	.adp-substep:last-child
	{
	max-width: 20px;
	}*/

	#driving_directions {
		/*display: none;*/
		height: 0px;
		overflow: hidden;
	}
	#directions_clear {
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		display: none;
		cursor: pointer;
		padding: 10px;
		text-align: center;
		width: 150px;
		margin: 10px auto;
		color: #ccc;
	}
	#directions_clear:hover {
		color: #eee;
	}
	#directions h5.inputlabel {
		font-weight: normal;
		color: #777;
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#location .feature_content { height: 275px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#location .feature_content { height: 235px; }
	}

/* PHOTOS
 =================================== */
 	#photos {
 		margin-top: 15px;
 	}
	.album_thumbnails img {
		height: 175px;
		max-height: 175px;
		margin: 0px 5px 5px 0px;
	}

	.album.collapser .content_padding {
		padding: 10px;
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.album_thumbnails {
			width: 325px;
			margin: 0px auto;
			text-align: center;
		}
		.album_thumbnails img { height: auto; max-height: 250px; width:auto; max-width: 100%; }
	}
	@media only screen and (max-width: 479px) {
		.album_thumbnails { width: 100%; }
	}



/* VIDEOS
 =================================== */
 	#videos {
 		margin-top: 35px;
 	}
	#media_slideshow_thumbnails img {
		height: 130px;
		margin-right: 0px;
	}
	#media_videos .media_video {
		position: relative;
		float: left;
		margin-right: 15px;
		width: 23%;
		margin-bottom: 15px;
		height: 180px;
		overflow: hidden;
	}
	#media_videos .media_video h5 {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-top: 3px;
		color: #aaa;
	}
	#media_videos .media_video_thumbnail {
		position: relative;
	}

	#media_videos .media_video .media_video_thumbnail img {
		max-width: 100%;
	}

	#media_videos .media_video span.play {
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  z-index: 1;
	  background-size: 40%;
	  background: url(/img/resources/icons/play_50.png) no-repeat center center;
	  opacity: .8;
	}
	#media_videos .media_video:hover span.play {
		opacity: 1;
	}

	#show_more_videos {
		background: none repeat scroll 0 0 #333;
		border-radius: 2px;
		margin-bottom: 15px;
		margin-top: 5px;
		padding: 5px;
		width: 180px;
		cursor: pointer;
		display: block;
		color: #888;
		text-transform: uppercase;
		font-size: 12px;
	}
	#show_more_videos:hover {
		background: #3a3a3a;
		color: #ccc;
	}

	#show_more_videos img {
		width: 40px;
		margin-right: 10px;
		vertical-align: middle;
		opacity: .7
	}
	#show_more_videos:hover img {
		opacity: 1;
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	 	#media_videos .media_video {
			margin-right: 15px;
			width: 31%;
			height: 175px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#show_more_videos { width: auto; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	 	#media_videos .media_video {
			margin-right: 15px;
			width: 46%;
			height: 175px;
		}
		#media_slideshow_thumbnails img { height: 100px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		/* MEDIA
	 	=================================== */
	 	#media_videos .media_video {
			margin-right: 15px;
			width: 100%;
			height: auto;
		}
		#media_slideshow_thumbnails img { height: 80px; }
	}


/* MEMBERS
 =================================== */
	#membership_recruiting {
		font-size: 15px;
	}
	#membership_recruiting_button {
		font-size: 12px;
		padding: 5px 10px;
		height: 30px;
		line-height: 15px;
		margin-left: 10px;
	}
	/*#membership_request_form h5 {
		display: inline;
	}*/
	#membership_request_form h5 span {
		font-size: 12px;
		color: #888;
		margin-left: 5px;
		font-weight: normal;
	}
	#membership_recruiting_message {
		width: 100%;
		height: 110px;
		background: #2a2a2a;
	}
	#membership_request_textarea_label {
		float: left;
	}
	#membership_recruiting_textarea_count {
		float: right;
	}

	.member_profile {
		padding: 10px;
		background: #2a2a2a;
		margin-bottom: 20px;
	}
	.member .user_profile_image {
		max-width: 150px;
	}
	.member .user_profile_info {
		font-size: 16px;
	}
	.member .user_profile_url {
		font-size: 14px;
	}
	.member .user_profile_url img {
		width: 15px;
	}


/* CONTACT
 =================================== */
 	#contact .contact_info {
 		margin-bottom: 10px;
 		border-bottom: 1px solid #333;
 		padding-bottom: 5px;
 	}
 	#contact .contact_label {
 		text-transform: uppercase;
 		color: #777;
 		font-weight: bold;
 		font-size: 16px;
 		width: 200px;
 	}
 	#contact .contact_value {
 		color: #bbb;
 		font-size: 16px;
 	}

 	.show_location {
 		cursor: pointer;
 	}
 	.show_location:hover {
 		color: #ddd !important;
 	}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}

