
h1 {
	text-align: left;
	margin-bottom: 10px;
	float: left;
}


#states h3 {
	background: #222222;
	padding: 10px 0px;
	z-index: 100;
}

#tools {
	margin-top: 10px;
}

#tools_right {
	float: right;
}

#show_map {
	float: right;
	margin-right: 20px;
}
#show_map a {
	color: #aaa;
}
#show_map a img {
	width: 13px;
	vertical-align:middle;
	margin-top: -3px;
	opacity: .7;
	margin-right: 8px;
}
#show_map a:hover {
	color: #ddd;
}
#show_map a:hover img {
	opacity: 1;
}

#results_count {
	float: left;
	font-size: 16px;
}

#search_wrap {
	margin-bottom: 10px;
	float: right;
}

#search_wrap label {
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;
}
#search_by_location {
	display: inline-block;
	width: 400px;
}

.collapser .view {
	font-weight: bold;
}

.collapser.open .view {
	font-size: 18px;
}

.ss_results_box {
	background: #2c2c2c;
	-webkit-box-shadow: 0px 5px 8px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 8px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 8px -3px rgba(0,0,0,0.75);
}

.unit_link:hover {
	text-decoration: underline;
}

.see_more {
	color: #ccc;
	font-weight: bold;
}
.see_more:hover {
	color: #fff;
}

.unit_city_state {
	color: #555;
	font-size: 14px;
	margin-left: 10px;
	font-weight: normal;
}

.unit_address {
	color: #777;
	margin-bottom: 10px;
	display: inline-block;
}
.unit_address img {
	width: 12px;
	opacity: .5;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -3px;
}
.unit_address:hover {
	color: #ccc;
}
.unit_address:hover img {
	opacity: .8;
}

.logo_wrap {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.logo {
	max-width: 180px;
	max-height: 180px;
}
.collapser .header .options {
	width: 30px;
}

.unit_marker {
	opacity: .3;
	padding: 0px 10px 0px 0px;
}
.unit_marker img {
	width: 15px;
}
.unit_marker:hover {
	opacity: .8;
}

.state_link {
	color: #e4a317;
}

.state_link:hover {
	color: #f7a80b;
	text-decoration: underline;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	h1 {
		float: none;
		text-align: center;
	}
	#search_by_location { width: 420px; }
	#search_wrap {
		float: none;
	}
	.unit_city_state {
		display: block;
		margin-left: 0px;
	}
	.collapser .view {
		padding: 5px 5px 5px 0px;
	}

	.logo_wrap { float: none; text-align: center; }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#search_by_location { width: 300px; }
}
