
h1 {
	color: #e4a317;
	font-family: "bebas_neueregular", "Bebas Neue", "Raleway", Arial, Helvetica, sans-serif;	
	font-weight: normal;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 45px;
	letter-spacing: 1.1px;
	padding-bottom: 0px;
	margin: 40px 0px 30px 0px;
	text-align: left;
}

input.error {
	border-color: #da573b;
}

.slim {
	width: 75%;
	margin:0px auto;
}

.read {
	font-size: 16px;
	line-height: 20px;
	color: #838383;
}

#submit {
	width:120px;
	float:right; 
}

#submitting {
	float: right;
	color: #ddd;
	margin-top: 8px;
	display: none;
}

#submitting img {
	margin-left: 10px;
}

.error {
	color: #DA573B;
}

.pac-item {
	font-size: 16px;
	padding-left: 10px;
	font-family: 'Lato', sans-serif;
}
.pac-item-query {
	font-size: 16px;
}

.pac-icon {
	display: none;	
}

#description {
	height: 160px;
}
#comment {
	height: 80px;
}

.option {	
	float:left;
	width: 50%;
	min-height: 80px;	
	margin-bottom: 15px;
}
#opt_field, #opt_shop { min-height: 80px; }
.radioStyleGrp { padding-right: 10px;}

#matches_wrap {
	display: none;
}

.match {
	padding: 10px;
	border-bottom: 1px solid #333;
	font-size: 18px;	
}
.match:last-child {
	margin-bottom: 20px;
}
.match strong {
	color: #e4a317;
	font-weight: bold;
}
.match:hover {
	background: #2a2a2a;
}

.match span.type {
	color: #555;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 15px;
}

.match .unit_info {
	float: left;
	margin-top: 3px;
}


.match a.claim {
	float: right;
	width: auto;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;

}

.type_name.lower {
	text-transform: lowercase;
}

/*.radioStyleGrp { float: left; width: 50%;}
.radioStyleGrp .radioStyleSublabel { }*/
						
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.option {			
		min-height: 200px;		
	}
	#opt_field, #opt_shop { min-height: 160px; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.slim { width: 100%; }
	h1 {text-align: center;}	
	.option {			
		float: none;
		width: 100%;
		min-height: 0;		
		margin-bottom:15px;
	}
	#opt_field, #opt_shop { min-height: 0; }
	.match span.type {
		display: block;
		margin-left: 0px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {	
	h1 { font-size: 35px; line-height: 35px; margin: 25px 0px; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	h1 { font-size: 30px; line-height: 30px; margin: 25px 0px; }
	#submit { width: 100%; }	
	#title, #location {	
		font-size: 22px;
		line-height: 28px; 
	}
	#comment, #description {
		height: 350px;
	}
	.match .unit_info {
		float: none;
	}
	.match a.claim {
		float: none;
		display: block;
		width: 60px;
		margin-top: 5px;
	}

}
